@font-face {
    font-family: 'geomanistregular';
    src: url('geomanist-regular-webfont.eot');
    src: url('geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-regular-webfont.woff2') format('woff2'),
         url('geomanist-regular-webfont.woff') format('woff'),
         url('geomanist-regular-webfont.ttf') format('truetype'),
         url('geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbold';
    src: url('geomanist-bold-webfont.eot');
    src: url('geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-bold-webfont.woff2') format('woff2'),
         url('geomanist-bold-webfont.woff') format('woff'),
         url('geomanist-bold-webfont.ttf') format('truetype'),
         url('geomanist-bold-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistbook';
    src: url('geomanist-book-webfont.eot');
    src: url('geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-book-webfont.woff2') format('woff2'),
         url('geomanist-book-webfont.woff') format('woff'),
         url('geomanist-book-webfont.ttf') format('truetype'),
         url('geomanist-book-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}