beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
idna==2.9
importlib-metadata==1.6.1
Jinja2==2.11.2
Markdown==3.2.2
markdown-checklist==0.4.3
MarkupSafe==1.1.1
mdx-gh-links==0.2
mdx-sections==0.1
pkg-resources==0.0.0
pyembed==1.3.3
pyembed-markdown==1.1.0
requests==2.24.0
soupsieve==2.0.1
urllib3==1.25.9
zipp==3.1.0
