{% extends "base.html" %}
{% block main %}
    <nav class="bg-gray-100 border-orange-800 border-l-8 p-4 mt-0 w-full text-4xl">
        <div class="container mx-auto">
            <a class="shadow-none" href="/">
                <span class="font-brand">Aquiles Carattino</span>
            </a>
        </div>
    </nav>
    <div class="flex mt-5 md:w-screen max-w-full lg:max-w-screen-lg">
        <div class="w-full md:w-4/5 lg:max-w-screen-md lg:ml-48">
            <div class="mb-12 bg-white shadow-lg p-1 md:rounded lg:p-10">
                {% block content %}
                    {% if content %}
                        <article class="prose lg:prose-xl">
                            {{ content }}
                        </article>
                        <div class="comments mt-10">
                            <script src="https://utteranc.es/client.js"
                                    repo="aquilesC/aquiles.me"
                                    issue-term="pathname"
                                    label="comment"
                                    theme="github-light"
                                    crossorigin="anonymous"
                                    async>
                            </script>
                        </div>
                    {% else %}
                        <h1>{{ title }}</h1>
                        <p>This element has no content, which means it was automatically created because something else
                            links here. If you want to learn more about how this website works, head to
                            the <a class="wikilink" href="/about">about page</a>.
                        </p>
                        <p class="font-extrabold mb-4">These other pages link here:</p>
                        <ul>
                            {% for link in inbound_links %}
                                <li><a class="wikilink" href="{{ link.link }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock content %}
                <div class="bg-blue-100">
                    <p class="md:mt-10 md:p-8 shadow-lg">
                        If you have any comments regarding what you read, you can reach me by email:
                        <b>hey@aquiles.me</b>,
                        or you can ping me via direct message on Twitter <a
                            href="https://twitter.com/aquicarattino">@aquicarattino</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/5 bg-white md:shadow-lg px-2 text-center fixed bottom-0 md:pt-8 md:right-0 h-24 md:h-full overflow-x-auto md:overflow-x-hidden md:overflow-y-auto md:border-r-4 md:border-gray-600">
            <div class="md:relative mx-auto ">
                <h4 class="text-2xl font-serif font-semibold">Backlinks</h4>
                {% if not inbound_links %}
                    <div class="text-sm">Nothing links here, how did you reach this page then?</div>
                {% else %}
                    <ul class="list-reset flex flex-row md:flex-col md:mb-1 text-center md:text-left"
                        style="list-style: none">
                        {% for link in inbound_links %}
                            <li class="mr-2 mb-0 flex-1 md:mb-2">
                                <a href="{{ link.link }}"
                                   class="wikilink text-sm shadow-none block py-1 md:py-1 pl-1 align-middle">{{ link.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}