<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ title }} | Aquiles Carattino</title>
    <link href="/{{ static }}/style.min.css" rel="stylesheet">
    <link href="/{{ static }}/prism.min.css" rel="stylesheet" data-noprefix>
    <script src="/{{ static }}/prism.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Red+Hat+Text&Playfair+Display&family=Raleway"
          rel="stylesheet">

    <link rel="canonical" href="{{ url }}">


    <link rel="apple-touch-icon" sizes="180x180" href="/{{ static }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/{{ static }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/{{ static }}/favicon-16x16.png">
    <link rel="manifest" href="/{{ static }}/site.webmanifest">
    <link rel="mask-icon" href="/{{ static }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token"/>
    <link rel="webmention" href="https://webmention.io/www.aquiles.me/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.aquiles.me/xmlrpc"/>

    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="{{ url }}">
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://aquiles.me/{{ static }}/Aquiles.jpg"/>

    <meta name="twitter:creator" content="@aquicarattino"/>
    <meta name="twitter:image" content="https://aquiles.me/{{ static }}/og_drawing.png"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}"/>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal mx-auto">

{% block main %}
{% endblock main %}
<div class="flex bg-gray-200 p-3 w-full">
    <div class="m-2 p-2 inline-block text-center">&copy; 2020 Aquiles Carattino</div>
    <div class="m-2 p-2 inline-block text-center"><a class="wikilink" href="/privacy_policy">Privacy Policy</a></div>
    <div class="m-2 p-2 inline-block text-center align-middle">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License"
                 style="border-width:0"
                 src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/>
        </a>
    </div>
    <div class="m-2 p-2 text-xs inline-block">This
        work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
            Attribution-ShareAlike 4.0 International License</a>.
    </div>
</div>
</body>
</html>