{% extends "base.html" %}
{% block main %}
<div class="md:w-4/5 content-center md:mx-auto">
    <div class="mb-12 bg-white shadow-lg p-6 mx-auto">
        {% block content %}
        {% if content %}
        {{ content }}
        {% else %}
        <h1>{{ title }}</h1>
        <p>This element has no content, which means it was automatically created because
            something else links here. If you want to learn more about how this website works, head to our <a
                    class="wikilink" href="/about">about page</a></p>
        {% endif %}
        {% endblock content %}
    </div>
    <div class="bg-blue-100">
        <p class="md:p-8 shadow-lg">
            If you have any comments regarding what you read, you can reach me by email: <b>hey@aquiles.me</b>,
            or you can ping me via direct message on Twitter <a
                href="https://twitter.com/aquicarattino">@aquicarattino</a>.
        </p>
    </div>
</div>
{% endblock main %}